In [1]:
%load_ext sql

In [2]:
%sql postgresql://postgres:pass123@localhost/sparkifydb

In [3]:
%sql SELECT * FROM songplays LIMIT 5;

 * postgresql://postgres:***@localhost/sparkifydb
5 rows affected.

[(1, datetime.datetime(2018, 11, 1, 21, 1, 46, 796000), 8, 'free', None, None, 139, 'Phoenix-Mesa-Scottsdale, AZ', '"Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/35.0.1916.153 Safari/537.36"'),
 (2, datetime.datetime(2018, 11, 1, 21, 5, 52, 796000), 8, 'free', None, None, 139, 'Phoenix-Mesa-Scottsdale, AZ', '"Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/35.0.1916.153 Safari/537.36"'),
 (3, datetime.datetime(2018, 11, 1, 21, 8, 16, 796000), 8, 'free', None, None, 139, 'Phoenix-Mesa-Scottsdale, AZ', '"Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/35.0.1916.153 Safari/537.36"'),
 (4, datetime.datetime(2018, 11, 1, 21, 11, 13, 796000), 8, 'free', None, None, 139, 'Phoenix-Mesa-Scottsdale, AZ', '"Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/35.0.1916.153 Safari/537.36"'),
 (5, datetime.datetime(2018, 11, 1, 21, 17, 33, 796000), 8, 'free', None, None, 139, 'Phoenix-Mesa-Scottsdale, AZ', '"Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/35.0.1916.153 Safari/537.36"')]

In [4]:
%sql SELECT * FROM users LIMIT 5;

 * postgresql://postgres:***@localhost/sparkifydb
0 rows affected.

[]

In [5]:
%sql SELECT * FROM songs LIMIT 5;

 * postgresql://postgres:***@localhost/sparkifydb
0 rows affected.

[]

In [6]:
%sql SELECT * FROM artists LIMIT 5;

 * postgresql://postgres:***@localhost/sparkifydb
1 rows affected.

[('ARD7TVE1187B99BFB1', 'Casual', 'California - LA', None, None)]

In [7]:
%sql SELECT * FROM time LIMIT 5;

 * postgresql://postgres:***@localhost/sparkifydb
5 rows affected.

[(datetime.datetime(2018, 11, 1, 21, 1, 46, 796000), 21, 1, 3, 11, 2018, 3),
 (datetime.datetime(2018, 11, 1, 21, 5, 52, 796000), 21, 1, 3, 11, 2018, 3),
 (datetime.datetime(2018, 11, 1, 21, 8, 16, 796000), 21, 1, 3, 11, 2018, 3),
 (datetime.datetime(2018, 11, 1, 21, 11, 13, 796000), 21, 1, 3, 11, 2018, 3),
 (datetime.datetime(2018, 11, 1, 21, 17, 33, 796000), 21, 1, 3, 11, 2018, 3)]

## REMEMBER: Restart this notebook to close connection to `sparkifydb`
Each time you run the cells above, remember to restart this notebook to close the connection to your database. Otherwise, you won't be able to run your code in `create_tables.py`, `etl.py`, or `etl.ipynb` files since you can't make multiple connections to the same database (in this case, sparkifydb).